@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a6351;
  color: #000;
  font-family: "Basic", sans-serif;
}

footer {
  background-color: #393232;
}

h5 {
  font-size: 1.3rem;
}

hr {
  color: #000;
}

i {
  color: #fff;
}

i:hover {
  transform: scale(1.2);
}

img {
  color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
.form-select,
.form-control {
  height: 30px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0 0.5rem;
}

label {
  padding-bottom: 0.2rem;
}

p {
  color: #fff;
}

/* Containers */

.containers,
.input--container {
  background-color: rgb(197, 216, 109);
  border: 2px solid #000;
  border-radius: 10px;
}

/* Containers */

/* Animations */

@keyframes animate--in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animation--in {
  animation: animate--in 0.2s linear;
}

@keyframes animate--out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animation--out {
  animation: animate--out 0.2s linear;
}

/* Animations */

.bg-image {
  background-image: url("Images/food.jpg");
  height: 110vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  filter: blur(5px);
}

.btn:hover,
.btn:active,
.btn:checked {
  background-color: #000;
}

.btn,
.btn:hover {
  border: 2px solid #000;
}

.form-label {
  margin-bottom: 0;
}

.hidden {
  opacity: 0;
}

.opacity {
  background: rgb(197, 216, 109, 0.8);
}
